$danger: lightblue;

h1 {
  color: $danger;
  align-content: center;
  margin-left: 400px;
}

#login {
  margin-left: 350px;
  margin-top: 300px;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

#sign-up {
  margin-left: 450px;
  margin-top: 300px;
}
